.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .heading {
    font-size: 45px;
  }
  .highlight {
    color: #40cae6;
    font-weight: bold;
  }
  